@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.font-family-logo {
  font-family: var(--family-logo);
}

.font-family-raleway {
  font-family: var(--family-raleway);
}

.tracking-in-contract {
  animation: tracking-in-contract 0.4s linear both
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: .6em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}

.d-none {
  display: none;
}

/* styles/Loader.css */
@keyframes dotActiveAnimation {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.dot_active {
  animation: dotActiveAnimation 1s ease-in-out;
}

/* styles/Loader.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.img-enter {
  animation: fadeIn 0.5s forwards;
}

.img-exit {
  animation: fadeOut 0.5s forwards;
}

.button_primary {
  background-color: #2be7e8;
  color: #fff;
  padding: .5em 1em;
  border: none;
  width: 60vmin;
  height: 7vmin;
  border-radius: 10vmin;
  cursor: pointer;
}

.button_primary[disabled] {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.img_logo {
  width: 40vmin;
}

@media (min-width: 768px) {
  .img_logo {
    width: 20vmin;
  }
}

.footer__SingIN {
  position: relative;

}

.f-bottom {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  flex-direction: column;
}

.div-check-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 1em;


  span {
    font-size: .8em;
    font-weight: 200;
  }

  input[type="checkbox"] {
    all: unset;
    background-color: #2e3562;
    width: 1.4em;
    border-radius: 20%;
    height: 1.4em;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
  }
}


.selected-item {
  position: relative;
}

.selected-item::before,
.selected-item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2be7e8;
}

.selected-item::before {
  top: -5px;
  /* Puedes ajustar la distancia del borde superior */
}

.selected-item::after {
  bottom: -5px;
  /* Puedes ajustar la distancia del borde inferior */
}

.span_unidad {
  position: absolute;
  bottom: 40%;
  right: -40%;
  color: #888888;
  font-size: 1em;
  text-transform: capitalize;
}

.button-subscription:hover {
  background-color: #2be7e8;
  transition: background-color 0.3s;
}

.button-subscription.selected {
  background-color: #2be7e8;
  /* Color cuando está seleccionado */
}

.d-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.slider-container {
  position: absolute;
  width: 100%;
}

.slider-home, .slider-button {
  width: 100%;

  .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    .slick-slide {
      height: 100px;

      img {
        width: 250px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }

  }

}

.slick-slider button {
  display: none !important;
}

.clas-explorer {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 50px;
  background-color: #2e3562;
  border-radius: 2em;


  button {
    all: unset;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .actived {
    position: absolute;
    z-index: 1;
    background-color: #2be7e8;
    width: 50%;
    height: 100%;
    border-radius: 2em;
  }

}

.div_user_settings {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-y: hidden;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;

  .out_menu {
    position: relative;
    width: 30%;
    height: 100%;
  }

  .bg {
    padding-top: 80px;
    animation: animationMenu 0.5s;
    border-radius: 0 3em 3em 0;
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #b4ffd8;
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
    cursor: pointer;
  }

  li img {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}

@keyframes animationMenu {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.form__sing {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
  }

  a {
    font-size: 0.8rem;
    color: #fff;
  }
}