@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --button: #B4FFD8;
    --gray: #9C9C9C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

body {
    font-family: "Raleway", sans-serif;
    min-width: 100vw;
    height: 100vh;
    background-color: #f6fffb;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Raleway", sans-serif;
}

.profile-container img {
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 150px;
    border: 3px solid var(--button); 
}

.profile-button {
    background-color: var(--button);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

.profile-button:hover {
    background-color: #9cdbd1; 
}

.modal-content {
    background-color: #f6fffb;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;

}

.modal-header {
    border-bottom: 2px solid var(--gray);
}

.modal-body {
    padding: 20px;
    font-family: "Raleway", sans-serif;

}

.modal-footer {
    border-top: 2px solid var(--gray);
    padding: 10px;
    font-family: "Raleway", sans-serif;

}

.modal-footer .btn-secondary {
    background-color: var(--gray);
    border: none;
    color: white;
}

.modal-footer .btn-primary {
    background-color: var(--button);
    border: none;
    color: black;
}

.modal-footer .btn-secondary:hover {
    background-color: #7c7c7c;
}

.modal-footer .btn-primary:hover {
    background-color: #9cdbd1;
}

#principal {
    width: 200%;
    height: 100vh;
    display: flex;
    animation: 1s ease-out 2s forwards splash;
}

@keyframes splash {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.seccion {
    width: 50%;
    height: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.screen img {
    width: 100%;
}
